<h1 class="text-center">Admin History</h1>

<table class="table table-dark table-hover table-bordered border-secondary">
  <thead class="table-light">
    <tr>
      <th class="text-center fw-bold">Admin</th>
      <th class="text-center fw-bold">Action</th>
      <th class="text-center fw-bold">Target</th>
      <th class="text-center fw-bold">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_activities.each do |activity| %>
      <tr>
        <td class="text-center"><%= activity.admin.username %></td>
        <td class="text-center"><%= activity.action %></td>
        <td class="text-center"><%= activity.target %></td>
        <td class="text-center"><%= activity.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
