<div data-bookmark-id="<%= bookmark.id %>" data-id="<%= bookmark.bookmarkable.id %>">
<% bookmarkable = bookmark.bookmarkable %>
<% if bookmarkable.is_a?(Message) %>
  <%= render partial: 'home/message', locals: { message: bookmarkable } %>
<% elsif bookmarkable.is_a?(Reply) %>
  <div class="bookmark-reply my-3">
    <div class="post">
      <div class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-reply me-2" style="padding-right:1rem;"></i>
        <strong>Reply</strong>
      </div>
      <%= render partial: 'home/reply', locals: { reply: bookmarkable } %>
    </div>
  </div>
<% end %>
</div>