<h2>Your Bookmarks</h2>

<div data-controller="pagination" 
     data-pagination-mode-value="bookmarks" 
     data-pagination-direction-value="down">
  <div data-pagination-target="messages">
 
        <%= render partial: 'home/bookmark', collection: @bookmarked_items, as: :bookmark %>
       <% if @bookmarked_items.any? %>
  <div id="load-more-trigger"
       data-message-id="<%= @bookmarked_items.last.id %>"
       data-user-id="<%= current_user.id %>">
  </div>
<% end %>

</div>
</div>