<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  
</head>
<body>

<div id="post-container"></div>

<div class="bg-dark text-center p-4 position-fixed bottom-0 start-0 end-0 d-flex flex-column justify-content-center">
  <div id="fileInfo" class="file-info"></div>

  
  <div id="filePreview" class="file-preview"></div>

  <div class="input-container d-flex">

    <input id="inputField" type="text" class="form form-control" placeholder="Ievadiet savu ziņu šeit..." autocomplete="off">

    <label class="file-upload">
      <i class="fas fa-paperclip"></i>
      <input type="file" id="fileInput" onchange="displayFileName()">
    </label>

    <button id="postButton" onclick="postComment()" class="mainbtn"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>


 <script src="application.js"></script>

</body>
</html>
