<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

<% if user_signed_in? && current_user.deleted? %>
  <div class="alert alert-warning">
   Your account has been blocked since <%= current_user.deleted_at.strftime("%Y-%m-%d %H:%M:%S") %>.
  </div>
<% else %>


<div id="post-container" data-controller="pagination" data-pagination-direction-value="down" data-pagination-mode-value="messages" data-pagination-target="messages">
  <% if @messages.present? %>
    <%= render partial: "home/message", collection: @messages %>

     <% if @messages.any? %>
      <div id="load-more-trigger"
           data-message-id="<%= @messages.last.id %>"
           <% if @messages.last.relevance_score.present? %>
             data-message-score="<%= (@messages.last.relevance_score * 1_000_000).round %>"
           <% end %>
      ></div>
    <% end %>
  <% end %>
</div>




<div class="bg-dark text-center p-4 position-fixed bottom-0 start-0 end-0 d-flex flex-column justify-content-center">
  <div id="fileInfo" class="file-info"></div>

  
  <div id="filePreview" class="file-preview"></div>

  <div class="input-container d-flex">

    <input id="inputField" type="text" class="form form-control" placeholder="Enter your message here..." autocomplete="off", maxlength: 255>

    <label class="file-upload">
      <i class="fas fa-paperclip"></i>
      <input type="file" id="fileInput">
    </label>

    <button id="postButton" onclick="postComment()" class="mainbtn"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>

<% end %>

</body>
</html>
