
<div data-controller="pagination" data-pagination-mode-value="notifications" data-pagination-direction-value="down" style="min-width:80%;">
  <div data-pagination-target="messages" class="NotificationMessages">
  
    <% if @notifications.present? %>
        <%= render partial: 'home/notification', collection: @notifications, as: :notification %>
      <div id="load-more-trigger"
           data-message-id="<%= @notifications.last.id %>"
           data-user-id="<%= current_user.id %>">
      </div>
    <% else %>
      <p>You have no notifications.</p>
    <% end %>
  </div>
</div>