<h1>Your Notifications</h1>

<div data-controller="pagination" data-pagination-mode-value="notifications" data-pagination-direction-value="down">
  <div data-pagination-target="messages">
  
    <% if @notifications.present? %>
      <ul class="list-group" id="notifications-list">
        <%= render partial: 'home/notification', collection: @notifications, as: :notification %>
      </ul>
      <div id="load-more-trigger"
           data-message-id="<%= @notifications.last.id %>"
           data-user-id="<%= current_user.id %>">
      </div>
    <% else %>
      <p>You have no notifications.</p>
    <% end %>
  </div>
</div>