
 img {
  max-width: 100%;
}

.mainFaili{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.mainFaili-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input-container input[type="text"] {
  width: 60%;
  margin-right: 10px;
}


.mainbtn {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(170, 30, 30);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainbtn:hover{
  background-color: rgb(140, 30, 30);
}

.file-info {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}
.post {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  max-width:50rem;
}

body{
padding: 3rem 0 7rem 0;
}

#post-container{
  margin: 0 auto;
    width: 70%;
}

/* Zinu detalam*/

.card-container {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  position: relative;
}

.card-container h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}


.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.message-content {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.message-image img {
  max-width: 100%;
 
}


.message-image, .reply-file {

height: 500px;
background-color: #000; 
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
border-radius: 8px; 
margin-bottom: 20px;
}

.message-image{
 width: 100%; 
}

.reply-file{
width: 80%;
margin:1rem auto 0 auto;

}

.message-image img, .reply-file img {
width: 100%;
height: 100%;
object-fit: contain;
}

hr {
  margin: 20px 0;
}

.reply-form .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.reply-form input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.file-upload {
  margin: 0.5rem;
  position: relative;
  background-color: rgb(170, 40, 40);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload i {
  cursor: pointer;
}


.file-upload:hover {
  background-color: rgb(120 40 40);
}

.reply-form .file-upload input[type="file"] {
  display: none;
}

.reply-form button, .input-container button {
  background-color: rgb(170 40 40);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reply-form button:hover, .input-container button:hover {
  background-color: rgb(120 40 40);
}

.replies ul {
  list-style-type: none;
  padding: 0;
}

.replies li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.replies li:last-child {
  border-bottom: none;
}

.replies p {
  margin: 0;
}

.replies .reply-file img {
  max-width: 100%;
  border-radius: 5px;
}




/* failu pirmsskats */
.file-preview {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preview-img, .preview-video {
  max-width: 200px;
  max-height: 150px;
  border-radius: 5px;
  margin-right: 10px;
}

.remove-file-btn {
  background-color: rgb(170, 30, 30);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.remove-file-btn:hover {
  background-color: rgb(140, 30, 30);
}

/* Profila bilde */
.default-profile-picture-icon, .profile-picture-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .dropdown-toggle::after {
  display: none;
}

#preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border: 2px solid #ddd;
}

#preview-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

.profile-pic {
  width: 50px;     
  height: 50px;    
  border-radius: 50%;  
  object-fit: cover;   
  margin-right: 10px;
}

/*Profilā */
.profile-info {
  margin-bottom: 20px;
}

.profile-picture {
  border-radius: 50%; 
}

.profile-username {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.user-details p {
  font-size: 16px;
  text-align:center;
}

.user-details .button_to{
    display: flex;
    justify-content: center;
}

.user-activity {
  margin-top: 20px;
}

.activity-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.activity-item:hover {
  background-color: #f9f9f9;
}

.activity-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic-activity {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  object-fit: cover; 
}

.activity-username {
  font-weight: bold;
  margin-left:10px;
}

.activity-time {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.activity-content {
  margin-top: 10px;
}

.activity-date {
  font-size: 12px;
  color: #888;
}

.original-message, .parent-reply {
  border-left: 2px solid #ccc;
  padding: 5px;
  margin: 10px 20px;
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 5px;
}

.attached-file {
  margin-top: 10px;
}

.attached-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.attached-video {
  width: 100%;
  height: auto;
}


/* Lietotāju meklēšanas lapa */

#suggestions-dropdown {
  position: absolute;
  margin-top:3rem;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
}

#suggestions-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

#suggestions-dropdown li:hover {
  background-color: #f0f0f0;
}


.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.user-profile-box {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.user-profile-box:hover {
  transform: scale(1.05);
}

.user-profile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.profile-picture-container {
  margin-bottom: 10px;
}

.profile-picture-search {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.default-profile-picture-search {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.profile-info {
  font-size: 18px;
  font-weight: bold;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
  color: #000000;
}

.user-info{
  display:flex;
  align-items:center;
}

.user-info p{
 margin-top:1rem;
 margin-bottom:1rem;
}

.profile-buttons{
  display:flex;
}

.profile-buttons .btn {
  width: 100%; 
  padding: 12px;
  margin-bottom: 10px; 
  border: 2px solid; 
  background-color: rgba(245, 245, 245, 0.5);
  color: rgb(150, 150, 150);
  font-size: 16px; 
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.profile-buttons a.active {
  color: rgb(0, 0, 0);
}

.profile-buttons .btn:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);
}

.profile-buttons .btn i {
  margin-right: 8px; 
}

.heart {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.heart i.fa-heart {
  color: black; 
  transition: color 0.2s ease-in-out; 
}

.heart i.fa-heart:hover {
  color: #414141;
}

.heart i.fa-solid.fa-heart {
  color: red;
}


.follow {
  background-color: #444444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow:hover {
  background-color: #888888; 
}

.unfollow {
  background-color: #444444; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unfollow:hover {
  background-color: #c82333;
}

.follower, .following {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
}

.follower:hover, .following:hover {
  text-decoration: underline;
  color: #000000;
}


/* follow listi */

.follow-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.follow-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.follow-item:hover {
  background-color: #e2e6ea;
}

.follow-item-content {
  display: flex;
  align-items: center;
}

.follow-username {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.follow-username:hover {
  color: #007bff;
  text-decoration: underline;
}

/* sidebars */
.sidebar {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100%;
  position: fixed;
  top: 56px;
  left: 0;
  overflow-y: auto;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  flex-grow: 1;
}

.nav-link{
  justify-content: end;
    gap: 2rem;
}

.dropdown-toggle::after{
  display:none;
}


/* notifications */
#message-notification-count, #notification-count {
  display: none;
}


.blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  display: inline-block;
  margin-right: 8px;
}


/* CHAT */
.chats-box {
  max-height: calc(95vh - 200px);
  overflow-y: auto;
}


.unseen-divider {
  text-align: center;
  color: #888;
  font-size: 0.85rem;
  margin: 12px 0;
  border-top: 1px solid #ccc;
  position: relative;
}

.unseen-divider::before {
  content: "New";
  background: white;
  position: absolute;
  top: -0.7em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  color: #555;
}

.chat-image-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.chat-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}


.chat-video-wrapper {
  height: 200px;
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.chat-video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}


