<p>Sveiki <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Mes jūs notificējam ka jūsu konta epasts tiek mainīts uz <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Mes jūs notificējam ka jūsu epasts tika nomainīts uz <%= @resource.email %>.</p>
<% end %>
