<p>Sveiki <%= @resource.email %>!</p>

<p>Kāds ir pieprasījis saiti, lai mainītu jūsu paroli. To var izdarīt, izmantojot tālāk norādīto saiti.</p>

<p><%= link_to 'Mainīt paroli', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ja jūs to nepieprasījāt, lūdzu, ignorējiet šo e-pasta ziņojumu.</p>
<p>Jūsu parole nemainīsies, kamēr nepiekļūsiet iepriekš norādītajai saitei un neizveidosiet jaunu.</p>
