<p>Sveiki <%= @resource.email %>!</p>

<p>Jūsu konts ir bloķēts, jo ir bijis pārāk daudz neveiksmīgu pierakstīšanās mēģinājumu.</p>

<p>Noklikšķiniet uz tālāk esošās saites, lai atbloķētu savu kontu:</p>

<p><%= link_to 'Atvērt manu kontu', unlock_url(@resource, unlock_token: @token) %></p>
